@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f3f1ff;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 94px;
  background-color: #11a683;
  align-items: center;
  margin-bottom: 36px;
}

.left-nav img {
  position: absolute;
  width: 40.42px;
  height: 51px;
  left: 245px;
  top: 26px;
}
.left-nav a {
  position: absolute;
  width: 54px;
  height: 36px;
  left: 300px;
  top: 33px;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
}

.right-nav a {
  position: absolute;
  width: 48px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
#home {
  left: 813px;
  top: 35px;
}
#about {
  left: 897px;
  top: 35px;
}

#work {
  left: 980px;
  top: 35px;
}
.right-nav img {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 1056px;
  top: 23px;
  border-radius: 50%;
  background-color: #a8ddd14b;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 870px;
  height: 679px;
  background-color: white;
}

.heading {
  font-weight: 500;
  font-size: 24px;
  margin: 30px;
  color: #11a683;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 29px;
  grid-column-gap: 110px;
  margin: 30px;
}
.player {
  display: flex;
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}
.player h3 {
  font-weight: 500;
  font-size: 18px;
}

hr {
  width: 807px;
  height: 0px;
  border: 1px solid #d1d1d1;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
  grid-column-gap: 46px;
  margin: 30px;
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}

.blog-info h3 {
  font-weight: 500;
  font-size: 20px;
  margin: 2px;
}
.blog-info p {
  font-size: 16px;
  color: #9f9f9f;
  margin: 0;
}
.blog-info a {
  font-size: 16px;
  text-decoration: none;
  color: #11a683;
}

.container-2 {
  width: 870px;
  height: 362px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-left: 39px;
}
.rating-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
.rating-time p,
.time {
  font-size: 14.6913px;
}

.course {
  width: 260px;
  height: 270px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.course img {
  width: 224px;
  height: 104px;
}
.course-info h3 {
  font-weight: 500;
  font-size: 20.0336px;
  margin-bottom: 0;
}
.course-info p {
  font-weight: normal;
  font-size: 14.6913px;
  margin: 0;
  color: #ed6b4f;
}

.stars .fill {
  width: 12px;
  height: 11px;
  margin-right: 4px;
  color: #ffc014;
}
.stars .empty {
  width: 12px;
  height: 11px;
  margin-right: 4px;
  color: lightgrey;
}
.time {
  border-radius: 14.6913px;
  background-color: #ffe4e8;
  color: #ff4a60;
}

@media only screen and (max-width: 688px) {
  header {
    display: none;
  }

  .container,
  .container-2,
  hr {
    width: 100%;
    height: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 689px) and (max-width: 992px) {
  header {
    display: none;
  }

  .container,
  .container-2,
  hr {
    width: 100%;
    height: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
    align-items: center;
  }
}
